<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Bienvenido{% endblock %} — lector_example</title>
<body>
  <header>
    <h1>Tarjetas Coleccionables sobre Blockchain</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Bienvenido</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/projects', 'Blockchain'],
          ['/about', 'Sobre nosotros']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2018. 
  </footer>
</body>
